footer
  .container.text-center
    p.pull-left © 2017 Garrit Franke
    ul.pull-right.list-inline
      li
        a(href='https://github.com/garritfra/laRue') GitHub Project
      li
        a(href='mailto:garritfranke@gmail.com?Subject=Harz%20Wohnung', target='_blank') Kontakt
