extends layout

block content
  #header.jumbotron
    h1 Seid gegrüßt, Wanderer!
  h2 Unsere liebliche Ferienwohnung im Oberharz
  .w3-panel.w3-leftbar.w3-sand
    p.w3-xxlarge.w3-serif
      i "La rue - Die Ruhe"
    p Kaichen
  //
    <h3>La rue - Die Ruhe</h3>
    <h3 id="description">In der Ruhe liegt die Kraft</h3>
